<div class="py-2 px-sm-3 px-md-4 px-lg-5 margen">
  <h2 *ngIf="isSupervisor">Registros de mantenimientos preventivos</h2>
  <div class="d-flex">
    <div class="d-block mb-3">
      <table class="informacion tabla-informacion ">
        <thead>
          <tr>
            <th colspan="2" style="text-align: center !important;">Información del formulario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fw-semibold titulo-fila" style="width: 150px !important;">Nit</td>
            <td>
              <ng-container>
                {{usuario?.usuario}}
              </ng-container>
            </td>
          </tr>
          <tr>
            <td class="fw-semibold titulo-fila" style="width: 150px !important;">Razón social</td>
            <td>
              <ng-container>
                {{usuario?.nombre}}
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="rol?.id !== 3" class="d-block mb-3" style="margin-left: 50px;">
      <button type="button" class="boton primario delineado" (click)="volver()" style="position: absolute; right: 45px;">
        Volver
      </button>
    </div>
  </div>
  <div class="d-flex">
    <div class="search-container">
      <!-- Input para buscar por texto y por fecha -->
      <label for="filtro">Filtrar por placa, estado o fecha</label>
      <div class="contenedor-input-botones" style="display: flex; gap: 10px; align-items: center;">
        <div class="search-input-wrapper">
          <app-input-busqueda (buscar)="filtrarRutas()" [placeholder]="'Placa o estado'"
            [(ngModel)]="filteredID"></app-input-busqueda>
        </div>
        <div class="search-date-wrapper">
          <input type="date" class="form-control filtro-fecha" [(ngModel)]="filteredDate" (change)="filtrarRutas()" placeholder="Filtrar por fecha" />
        </div>
        <button type="button" class="boton primario relleno" (click)="limpiar()">
          Limpiar
        </button>
      </div>
    </div>
  </div>
  <div class="ruta w-100 custom-scroll">
    <div class="d-flex mx-0 table-container">
      <table class="table custom-scroll">
        <thead class="encabezado">
          <tr>
            <th class="th-listado">
              N°
            </th>
            <th class="th-listado">
              Placa
            </th>
            <th class="th-listado">
              Fecha
            </th>
            <th class="th-listado">
              Estado
            </th>
            <th class="th-listado">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let registro of listaResgitrosFiltrados | paginate: { itemsPerPage: itemsPerPageReg, currentPage: pageReg, id:'formulario' }; let i = index">
            <td style="width: 100px; text-align: center;">
              {{i+1}}
            </td>
            <td style="width: 100px; text-align: center;">
              {{registro.placa}}
            </td>
            <td style="width: 100px; text-align: center;">
                {{ registro.fechaDiligenciamiento!.split('T')[0] | date:'dd/MM/yyyy' }}
            </td>
            <td style="width: 100px; text-align: center;">
              {{ registro.estadoMantenimiento}}
            </td>
            <td style="width: 100px; text-align: center;">
                <button type="button" class="boton primario relleno" [disabled]="registro.estadoMantenimiento === 'Sin reporte'" title="Ver y editar"
                (click)="abrirModalRegistro(registro, true)">
                <i class="bi bi-eye-fill"></i>
                </button>
              <button *ngIf="!isSupervisor" type="button" class="boton primario relleno" title="Nuevo reporte" style="margin-left: 10px;"
              (click)="abrirModalRegistro(registro, false)">
                <i class="bi bi-file-earmark-plus"></i>
              </button>
              <button type="button" class="boton primario relleno" title="Historial" style="margin-left: 10px;"
                (click)="abrirModalHistorial(registro)">
                <i class="bi bi-journal-text"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="listaResgitros.length === 0">
            <td *ngIf="!verificador" colspan="5" style="text-align: center;">No hay vehículos</td>
            <td *ngIf="verificador" colspan="5" style="text-align: center;">Debe cargar el programa de mantenimiento preventivo</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center">
      <!-- Paginador -->
      <pagination-controls class="pagination-controls" (pageChange)="pageReg = $event" previousLabel="Anterior"
        nextLabel="Siguiente" [maxSize]="7" [directionLinks]="true" [autoHide]="false" #paginador1 id="formulario">
      </pagination-controls>
    </div>
  </div>
</div>
<app-modal-registro-preventivo #modalRegistroPreventivo (registroGuardado)="onRegistroGuardado($event)"></app-modal-registro-preventivo>
<app-modal-historial-preventivo #modalHistorialPreventivo></app-modal-historial-preventivo>
<app-popup #popup/>
